body {
  overflow: hidden;
}

.sortable-handler {
  touch-action: none;
}

.focused {
  outline: 3px solid #3b82f6;
  outline-offset: 2px;
  transform: scale(1.05);
  transition: all 0.2s ease;
  z-index: 10;
}

.button-focused {
  background-color: #3b82f6;
  color: white;
  transform: scale(1.05);
  transition: all 0.2s ease;
}
